.container-table {
  width: 100vw;
  position: relative;
  //height: 100vh;
  //overflow-x: hidden;
}


@media print {
  .open-close {
    display: none;
  }

  .main-content {
    .left-sidebar {
      display: none;
    }
  }
}

.main-content {
  position: relative;
}


.custom-card {
  border:1px solid #DFDFDF;
  padding: 10px;
  background: var(--white);
  border-radius: 5px;


  img {
    height: 250px;
  }

}
