.registration {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100vh;
  background: #33373E;
  //background: url("../../resources/images/warehouse.jpg");
  //background-size: 100% 100%;
}
.reg-input{
  margin-bottom: 30px;
  height: 50px;
}

.reg-pass{
  position: relative;
}

.reg-eye {
  position: absolute;
  left: 80%;
  top: 32px;
  outline: none!important;
  box-shadow: none!important;
}

.fl-l {
  height: 100vh;
  float: left;
}
.reg-form {
  margin-top: 22vh;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 0 5px #FFFFFF;
}
