@media print {
  .custom-navbar {
    display: none;
  }
}


.custom-navbar {
  background: #20232A;
  width: 100%;
  height: 40px;
  padding: 0 5px;
  position: fixed;
  z-index: 98 !important;
  border-bottom: 1px solid var(--blue);
  box-shadow: 0 0 3px var(--blue);
  color: white;

  .logotip {
    font-family: "Gilroy-Bold", sans-serif;
    text-decoration: none;
    line-height: 16px;
    margin-top: 4px;
    outline: none;
    color: white;

    p {
      line-height: 16px;
      font-size: 24px;
      margin: 10px 0;
    }
  }

  .left-side {
    display: inline-block;

    img {
      height: 34px;
      margin-top: 2px;
    }
  }

  .center-side {
    display: inline-block;

    .course {
      font-size: 22px;
    }
  }

  .right-side {
    display: inline-block;
    float: right;

    .alert {
      width: 40px !important;
      height: 40px;
      padding: 4px 0;
      text-align: right;
      display: inline-block;

      svg {
        width: 80%;
        height: 100%;
        fill: #000000;

        path {
          stroke: #313949;
        }
      }

      span {
        background: red;
        color: #FFFFFF;
        font-size: 10px;
        position: absolute;
        left: 20px;
        padding: 0 4px;
        border-radius: 90%;
      }
    }

    img {
      margin-top: 3px;
      height: 34px;
      width: 34px;
    }

    .profile-div {
      height: 34px;
      display: inline-block;


      .profile-icon {
        height: 30px;
        border-radius: 50%;

        .profil-userName {
          font-size: 14px;
          line-height: 12px;
          color: white;
        }

        .profil-userRole {
          font-size: 10px;
          margin-top: 1px;
          color: white;
        }

        img {
          //width: 100%;
          height: 30px;
          margin: 0 1px;
        }
      }
    }

    .exit {
      height: 34px;
      margin-left: 22px;
      display: inline-block;

      img {
        //width: 90%;
        height: 80%;

        &:hover {
          cursor: pointer;
        }
      }
    }

  }
}


//Responsive CustomNavbar Start
@media only screen and (max-width: 500px) {
  .center-side {
    span {
      display: none;
    }
  }
  .left-side {
    .logotip {
      p {
        margin: 9px 0 !important;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .custom-navbar {
    .left-side {
      .logotip {
        p {
          margin: 4px 0;
        }
      }
    }

    .center-side {


      .course {
        font-size: 16px;
        margin-top: 4px;
        margin-left: 28px;
        text-align: left;
      }
    }

    .right-side {

      .profile-div {

        .profile-icon {

          .settings {

            .item {
              font-size: 12px !important;
            }
          }
        }
      }


    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .custom-navbar {
    .left-side {
      .logotip {
        p {
          //font-size: 18px;
          margin: 4px 0;
        }
      }
    }

    .center-side {

      .course {
        font-size: 16px;
        margin-top: 4px;
        margin-left: 28px;
        text-align: left;
      }
    }

    .right-side {

      .profile-div {

        .profile-icon {

          .settings {

            .item {
              font-size: 12px !important;
            }
          }
        }
      }


    }
  }
}

//Responsive CustomNavbar End