.content{
  position: relative;
  padding-left: 200px;
  margin-left: 0;
  padding-bottom: 40px;
  top: 40px;
  left: 0;
  background-color: #f3f3f3;
  color: var(--black);
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  transition: all .3s;
}

.content-active{
  //width: 99.9%;
  padding-left: 0;
  margin-left: 0;
  transition: all .3s;
}

.res-div {
  position: relative;
  padding: 10px;
}

.resp-div{
  overflow-x: auto;
}
.resp-div2{
  background-color: #fff;
  min-width: 904px;
}
.custom-res-div{
  overflow-x: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.custom-res-div2{
  min-width: 904px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) and (min-width: 300px) {
  .res-div {
    position: relative;
    top: 90px;
    padding: 10px;
  }
  .custom-res-div{

    padding-top: 94px;
  }
}

@media print {
  .hidden__print {
    display: none;
  }
}