.loading {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(238, 238, 238, 0.9);
  z-index: 9999!important;
}

.loading-block {
  display: block;
}

.preloader
{
  margin-top: 35vh;
  margin-left: 35vw;
  width: 30vw;
  height: 30vh;
  border-radius: 90%;
  animation-name: waiting-loader;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
}
@keyframes waiting-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}